<div class="container center">
  <div class="row">
    <div class="col-md-8">
      <h1 class="margin-title">
        CRUD AUDISOFT
      </h1>
    </div>
  </div>


  <div>
    <ul class="nav nav-tabs font-weight-bold color ">
        <li class="nav-item">
          <a class="nav-link active2 color"  routerLink="create-product">Crear producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active2 color"  routerLink="update-product">Actualizar producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active2 color"  routerLink="findALlProduct">Consultar Productos</a>
        </li>
    </ul>
  </div>

   <router-outlet></router-outlet>
</div>